<template>
    <div>
        <div class="flex felx-col items-center">
            <div class="relative w-full" v-if="status.user === 'success'">
                <div class="w-100 h-64 overflow-hidden">
                    <uploadable-image
                        :classes="'object-cover w-full'"
                        :image-height="500" :image-width="1200" :location="'cover'"
                        :user-image="user.data.attributes.cover_image"></uploadable-image>
                </div>

                <div class="absolute bottom-0 left-0 -mb-8 z-20 flex items-center ml-12">
                    <div class="w-32">
                        <uploadable-image
                            :classes="'object-cover w-32 h-32 border-4 border-gray-200 rounded-full shadow-lg'"
                            :image-height="6000" :image-width="600" :location="'profile'"
                            :user-image="user.data.attributes.profile_image"></uploadable-image>
                    </div>
                    <p class="ml-4 text-2xl text-gray-100">
                        {{ user.data.attributes.name }}
                    </p>
                </div>

                <div v-if="friendButtonText" class="absolute bottom-0 right-0 mb-4 z-20 flex items-center mr-12">
                    <button v-if="friendButtonText === 'Accept'" class="py-1 px-3 bg-blue-400 rounded mr-2" @click="$store.dispatch('acceptFriendRequest', $route.params.userId)">
                        Accept
                    </button>
                    <button v-if="friendButtonText === 'Accept'" class="py-1 px-3 bg-gray-400 rounded" @click="$store.dispatch('ignoreFriendRequest', $route.params.userId)">
                        Ignore
                    </button>
                    <button v-if="friendButtonText !== 'Accept'" class="py-1 px-3 bg-gray-400 rounded" @click="$store.dispatch('sendFriendRequest', $route.params.userId)">
                        {{ friendButtonText }}
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center py-4">
            <p v-if="postsStatus !== 'success'">Loading...</p>
            <post v-else v-for="(post, index) in posts.data" :key="index" :post="post"></post>
            <p v-if="postsStatus === 'success' && posts.data.length < 1">No posts found.</p>
        </div>
    </div>
</template>

<script>
import Post from "../../components/Post";
import UploadableImage from "../../components/UploadableImage";
import { mapGetters } from "vuex";

export default {
    name: "show",
    components: {Post, UploadableImage},
    computed: {
      ...mapGetters({
          user: 'user',
          status: 'status',
          postsStatus: 'postsStatus',
          posts: 'posts',
          friendButtonText: 'friendButtonText'
      })
    },
    mounted() {
        this.$store.dispatch('fetchUser', this.$route.params.userId);
        this.$store.dispatch('fetchUserPosts', this.$route.params.userId);
    }
}
</script>

<style scoped>

</style>
