<template>
    <div class="flex flex-col items-center py-4">
        <new-post></new-post>
        <p v-if="postsStatus !== 'success'">Loading...</p>
        <post v-else v-for="(post, index) in posts.data" :key="index" :post="post"></post>
    </div>
</template>

<script>
import NewPost from "../components/NewPost";
import Post from "../components/Post";
import { mapGetters } from "vuex";

export default {
    name: "news-feed",
    components: {
        Post,
        NewPost
    },
    computed: {
        ...mapGetters({
            postsStatus: 'postsStatus',
            posts: 'posts'
        })
    },
    mounted() {
        this.$store.dispatch('fetchPosts');
    }
}
</script>

<style scoped>

</style>
