<template>
    <div class="bg-white w-1/3 p-4 border-right border-gray-300 shadow-sm">
        <h2 class="font-bold text-2xl tracking-tight">Home</h2>
    </div>
</template>

<script>
export default {
    name: "sidebar"
}
</script>

<style scoped>

</style>
