<template>
    <div class="object-cover w-full">
        <img :src="userImage.data.attributes.path"
            ref="userImage"
            alt="" :class="classes">
    </div>
</template>

<script>
import Dropzone from "dropzone";
import { mapGetters } from "vuex";

export default {
    name: "uploadable-image",
    data: () => {
        return {
            dropzone: null
        }
    },
    props: [
        'classes',
        'imageWidth',
        'imageHeight',
        'location',
        'userImage'
    ],
    computed: {
        ...mapGetters({
           authUser: 'authUser'
        }),
        settings() {
            return {
                paramName: 'image',
                url: '/api/user-images',
                acceptedFiles: 'image/*',
                params: () => {
                    return {
                        width: this.imageWidth,
                        height: this.imageHeight,
                        location: this.location
                    };
                },
                headers: {
                    'X-CSRF-TOKEN': document.head.querySelector('meta[name=csrf-token]').content
                },
                success: (e, res) => {
                    this.$store.dispatch('fetchAuthUser');
                    this.$store.dispatch('fetchUser', this.$route.params.userId);
                    this.$store.dispatch('fetchUserPosts', this.$route.params.userId);
                }
            }
        }
    },
    mounted() {
        if(this.authUser.data.user_id.toString() === this.$route.params.userId) {
            this.dropzone = new Dropzone(this.$refs.userImage, this.settings);
        }
    }
}
</script>

<style scoped>

</style>
